@model ServerOverviewModel
@{
    Layout = "_ServerLayout";
    ViewBag.Title = Resources.Settings_Index_Title;
}

<div class="pure-form pure-form-aligned detail">
    <fieldset>
        <div class="pure-control-group">
            @Html.LabelFor(m => m.IsDemoActive)           
            <span>@(Model.IsDemoActive ? @Resources.Yes : @Resources.No)</span>
        </div>


        <div class="pure-control-group">
            @Html.LabelFor(m => m.ApplicationPath)
            <span>@Model.ApplicationPath</span>
        </div>
        

        <div class="pure-control-group">
            @Html.LabelFor(m => m.DataPath)
            <span>@Model.DataPath</span>
        </div>

        <div class="pure-control-group">
            @Html.LabelFor(m => m.RepositoryPath)
            <span>@Model.RepositoryPath</span>
        </div>

        <div class="pure-control-group">
            @Html.LabelFor(m => m.GitPath)
            <span>@Model.GitPath</span>
        </div>
        <div class="pure-control-group">
            @Html.LabelFor(m => m.GitHomePath)
            <span>@Model.GitHomePath</span>
        </div>

        <div class="pure-control-group">
            @Html.LabelFor(m => m.ApplicationVersion)
            <span>@Model.ApplicationVersion</span>
        </div>
        <div class="pure-control-group">
            @Html.LabelFor(m => m.DotNetVersion)
            <span>@Model.DotNetVersion</span>
        </div>
    </fieldset>

</div>
