@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Resources.Me_General_Header
</h1>
<div class="pure-menu pure-menu-open pure-menu-horizontal repository-menu">
    <ul>
        <li><a href="@Url.Action("Index", new { id = ViewBag.ID })" class="@Html.IsActive("Index")"><i class="fa fa-hdd-o"></i> @Resources.Me_Header_Index</a></li>
        <li><a href="@Url.Action("Password", new { id = ViewBag.ID })" class="@Html.IsActive("Password")"><i class="fa fa-random"></i> @Resources.Me_Header_Password</a></li>
        <li><a href="@Url.Action("Settings", new { id = ViewBag.ID })" class="@Html.IsActive("Settings")"><i class="fa fa-tag"></i> @Resources.Me_Header_Settings</a></li>
    </ul>
</div>

@RenderBody()

@section scripts
{
    @await RenderSectionAsync("scripts", false)
}