@using Microsoft.AspNetCore.Mvc.Rendering
@model Gibbon.Git.Server.Models.MePasswordModel
@{
    Layout = "~/Views/account/_Layout.cshtml";
    ViewBag.Title = Localizer["Account_Edit_Title"];
}

@Html.SummaryMessage("PasswordChangeSuccess", Localizer["Me_Password_Changed_Success"])

@if (ViewBag.UpdateSuccess != null && ViewBag.UpdateSuccess)
{
    <div class="summary-success">
        <p>@Localizer["Account_Edit_UpdateSuccess"]</p>
    </div>
}

@using (Html.BeginForm("Password", "Account", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, Localizer["Account_Edit_Unsuccessfull"])
    @Html.HiddenFor(m => m.Id)

    <fieldset>
        <div class="pure-control-group">
            @Html.RequiredLabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="pure-control-group">
            @Html.RequiredLabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="pure-control-group">
            @Html.RequiredLabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-save"></i> @Localizer["Account_Edit_Submit"]</button>
        </div>
    </fieldset>
}
