@using Gibbon.Git.Server.Configuration
@using Gibbon.Git.Server.Extensions
@using Gibbon.Git.Server.Security
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ServerSettings ServerSettings

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico?v=2" type="image/x-icon" />
    <title>
        @if (!string.IsNullOrEmpty(ViewBag.Title))
        {
            @ViewBag.Title <text> ::</text>
        }
        @ServerSettings.GetSiteTitle()
    </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/pure/pure-min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/highlight/styles/github.css" />
        <link rel="stylesheet" href="~/css/fonts.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/bundled.css" />
    </environment>
    @if (ServerSettings.HasCustomSiteCss())
    {
        <link rel="stylesheet" href="@ServerSettings.SiteCssUrl" type="text/css" />
    }
    @if (ServerSettings.HasCustomSiteLogo())
    {
        <style>
            .navigation.pure-menu a.pure-menu-heading {
                background: url('@Url.Content(ServerSettings.SiteLogoUrl)') no-repeat 0 4px;
            }
        </style>
    }
</head>
<body class="@ViewContext.RouteData.Values["controller"] @ViewContext.RouteData.Values["action"]">
    <div class="main">
        <div class="header">
            <div class="navigation pure-menu pure-menu-open pure-menu-horizontal">
                <a class="pure-menu-heading" href="@Url.Action("Index", "Home")">@ServerSettings.GetSiteTitle()</a>

                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var items = (IEnumerable<SelectListItem>)Html.ViewBag.PermittedRepositories;
                        @Html.DropDownList("Repositories", items, Resources.Repository_Go_To_Dropdown, new { @class = "repositories", onChange = "javascript:location.href=this.options[this.selectedIndex].value;" })
                        ;
                        <li><a href="@Url.Action("Index", "Repository")" class="repository"><i class="fa fa-hdd-o"></i> @Resources.Layout_Repositories</a></li>
                    }
                    @if (User.IsInRole(Definitions.Roles.Administrator))
                    {
                        <li><a href="@Url.Action("Index", "Account")" class="users"><i class="fa fa-user"></i> @Resources.Layout_AdministrationUsers</a></li>
                        <li><a href="@Url.Action("Index", "Team")" class="teams"><i class="fa fa-group"></i> @Resources.Layout_AdministrationTeams</a></li>
                        <li><a href="@Url.Action("Index", "Server")" class="settings"><i class="fa fa-gears"></i> @Resources.Layout_AdministrationServer</a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="separator"><a href="@Url.Action("Index", "Me")"><i class="fa fa-male"></i> @User.DisplayName()</a></li>
                        @if (!User.IsWindowsAuthenticated())
                        {
                            <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out"></i> @Resources.Layout_Logout</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Home")"><i class="fa fa-sign-in"></i> @Resources.Layout_Login</a></li>
                        @if (ServerSettings.AllowAnonymousRegistration)
                        {
                            <li><a href="@Url.Action("Create", "Account")"><i class="fa fa-pencil"></i> @Resources.Layout_Register</a></li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="content" id="@ViewData["PageID"]">
            @RenderBody()
        </div>

        <div class="footer">
            <p>
                @Resources.Product_Name
                &bull; &copy; 2024 
                &bull; <a href="http://code-ix.github.io/Gibbon-Git-Server" target="_blank">@Resources.Home</a>
                &bull; <a href="https://github.com/Code-iX/Gibbon-Git-Server" target="_blank">GitHub</a>
                @if (User.IsInRole(Definitions.Roles.Administrator))
                {
                    <text>&bull;</text> <a href="@Url.Action("Diagnostics", "Home")" class="log">Diagnostics <i class="fa fa-stethoscope"></i></a>
                }
            </p>
        </div>
    </div>
    <environment include="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
        @*    <script src="~/js/MicrosoftAjax.js"></script>
        <script src="~/js/MicrosoftMvcAjax.js"></script> *@
        <script src="~/js/highlight.pack.js"></script>
        <script src="~/js/clipboard.min.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/bundled.js"></script>
    </environment>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
