@{
    var statusCode = ViewContext.HttpContext.Response.StatusCode;

    ViewBag.Title = statusCode switch
    {
        401 => Localizer["Home_Unauthorized_Title"],
        403 => Localizer["Error_Forbidden_Title"],
        404 => Localizer["Home_PageNotFound_Title"],
        500 => Localizer["Home_ServerError_Title"],
        _ => Localizer["Home_Error_Title"]
    };
}

<h1> 
    @ViewBag.Title
</h1>

<div>
    <p class="summary-error">
        @switch (statusCode)
        {
            case 401:
                @Localizer["Home_Unauthorized_Text"]
                break;
            case 403:
                @Localizer["Error_Forbidden_Text"]
                break;
            case 404:
                @Localizer["Home_PageNotFound_Text"]
                break;
            case 500:
                @Localizer["Home_ServerError_Text"]
                break;
            default:
                @Localizer["Home_Error_Text"]
                break;
        }
    </p>
</div>