@using Gibbon.Git.Server.Configuration
@using Gibbon.Git.Server.Extensions
@model UserModel
@inject ServerSettings ServerSettings

@if (User.Identity.IsAuthenticated)
{
    <li class="separator"><a href="@Url.Action("Index", "Me")"><i class="fa fa-male"></i> @Model.GivenName @Model.Surname</a></li>

    @if (!User.IsWindowsAuthenticated())
    {
        <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out"></i> @Resources.Layout_Logout</a></li>
    }
}
else
{
    <li><a href="@Url.Action("Login", "Home")"><i class="fa fa-sign-in"></i> @Resources.Layout_Login</a></li>
    @if (ServerSettings.AllowAnonymousRegistration)
    {
        <li><a href="@Url.Action("Create", "Users")"><i class="fa fa-pencil"></i> @Resources.Layout_Register</a></li>
    }
}