@model Gibbon.Git.Server.Models.RepositoryCommitChangeModel

<div class="item">
    <p>
        <a href="@("#change-" + Model.ChangeId)"><i class="fa fa-share-square-o" title="Go To Change"></i></a>
        @if (Model.Status == LibGit2Sharp.ChangeKind.Added)
        {
            <text><i class="fa fa-plus-square-o" title="@Resources.Repository_Commit_Added"></i></text>
        }
        else if (Model.Status == LibGit2Sharp.ChangeKind.Modified)
        {
            <text><i class="fa fa-edit" title="@Resources.Repository_Commit_Modified"></i></text>
        }
        else if (Model.Status == LibGit2Sharp.ChangeKind.Deleted)
        {
            <text><i class="fa fa-minus-square-o" title="@Resources.Repository_Commit_Deleted"></i></text>
        }
        else if (Model.Status == LibGit2Sharp.ChangeKind.Renamed)
        {
            <text><i class="fa fa-share-square-o" title="@Resources.Repository_Commit_Renamed"></i></text>
        }
        else if (Model.Status == LibGit2Sharp.ChangeKind.Copied)
        {
            <text><i class="fa fa-copy" title="@Resources.Repository_Commit_Copied"></i></text>
        }
        else if (Model.Status == LibGit2Sharp.ChangeKind.TypeChanged)
        {
            <text><i class="fa fa-caret-square-o-right" title="@Resources.Repository_Commit_TypeChanged"></i></text>
        }

        @if (Model.Status != LibGit2Sharp.ChangeKind.Deleted)
        {
            @Html.ActionLink(Model.Path, "Blob", new { name = Model.Name, encodedPath = PathEncoder.Encode(Model.Path, allowSlash: true), encodedName = PathEncoder.Encode(ViewBag.CommitID) })
        }
        else
        {
            @Model.Path
        }

        <span class="count">@Model.LinesChanged <em>(+@Model.LinesAdded -@Model.LinesDeleted)</em></span>
    </p>
</div>