@model RepositoryDetailModel
@{
    ViewBag.Title = Localizer["Delete_Title"];
}

<h1>@Localizer["Confirm"]</h1>
<div>
    <p class="summary-error">@string.Format(Localizer["Delete_ConfirmationText"], Model.Name)</p>
</div>

@using (Html.BeginForm("Delete", "Repositories", FormMethod.Post, new { @class = "pure-form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="deleteForm">
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Id)
        <div class="pure-controls">
            <a class="pure-button" href="@Url.Action("Index")"><i class="fa fa-long-arrow-left"></i> @Localizer["Delete_Back"]</a>
            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-trash-o"></i> @Localizer["Delete_Confirm"]</button>
        </div>
    </fieldset>
}