@model RepositoryCommitsModel
@{
    Layout = "~/Views/Repositories/_RepositoriesLayout.cshtml";
    ViewBag.Title = Resources.Repository_History_Title;
}

@if (Model == null)
{
    @await Html.PartialAsync("~/Views/Shared/_ItemNotFound.cshtml")
    return;
}
<div class="repositoryContent">
    <h2>@Resources.Repository_History_Title</h2>
    <div class="commit-list-header">
        <div class="commit-message">@Resources.Repository_Commit_Message</div>
        <div class="commit-author">@Resources.Repository_Commit_Author</div>
        <div class="commit-date">@Resources.Repository_Commit_Date</div>
    </div>
    <hr/>
    @if (Model.Commits != null && Model.Commits.Any())
    {
        <div>
            @foreach (var commit in Model.Commits)
            {
                @await Html.PartialAsync("_Commit", commit)
            }
        </div>
    }
    else
    {
        <p>@Resources.No_Commits_Found</p>
    }
</div>